NetLDAP/TestConsole/Service References/WCFServiceReference/LDAPLoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOK" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="LoginLogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Logs" nillable="true" type="tns:ArrayOfLoginLogElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginLogs" nillable="true" type="tns:LoginLogs" />
  <xs:complexType name="ArrayOfLoginLogElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginLogElement" nillable="true" type="tns:LoginLogElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginLogElement" nillable="true" type="tns:ArrayOfLoginLogElement" />
  <xs:complexType name="LoginLogElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginLogElement" nillable="true" type="tns:LoginLogElement" />
</xs:schema>